.nav-logo{
    width: 80px;
    height: 80px;
    margin-left: 10em;
}
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;    
}
.cart-container{
    display: flex;
    margin-left: 10em;
}
.nav-cart{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(242, 242, 4);
    font-weight: bold;
    text-decoration: none;
}
.total-item{
    font-size: 0.8rem;
}
.links{
    margin-left: 7em;
}
nav{
    width:100%;     
}
ul{
    list-style: none;
            margin: 0;
            padding: 20px 30px
}
li{
    display: inline-block;
    padding: 1em;
    width: 6em;    
}
li a{
    color: rgb(242, 242, 4);
    font-weight: bold;
    text-decoration: none;
    
}
li a:hover{
    color: white;
    transform: scale(1.2);
     
}
li a::before {
    display: block;
    content: '';
    width: 0%;
    background: rgb(255, 255, 255);    
    height: 3px;
    top:0;
    position: absolute;
    transition: width 0.2s;
    margin-top: 2em;
  
  }
  
  li a:hover::before {
    width: 6%;
  }
  .cart-icon:hover{
    transform: scale(1.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-logo:hover{
    transform: scale(1.1);
  }


/* nav ul{display:table;list-style: none;  }
nav ul li{float:left; }
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#ddf108; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s; text-decoration: none; font-weight: bold;}
nav ul li a:hover{background-color:#ddf108; color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#fde428; transition: all 0.5s ease 0s; font-weight: bold;}
nav ul li a i{padding-right:10px; color:#002e5b; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;} */

  